<?xml version="1.0" encoding="utf-8"?>
<Package xmlns="http://schemas.microsoft.com/appx/2010/manifest">
  <Identity Name="662d876a-4b1f-467d-8097-3326d30ac87d" Version="1.0.0.0" Publisher="CN=ali.sufiyan" />
  <Properties>
    <DisplayName>PacMan</DisplayName>
    <Description>Classic Pacman clone</Description>
    <PublisherDisplayName>Ramez</PublisherDisplayName>
    <Logo>app-storelogo.png</Logo>
  </Properties>
  <Prerequisites>
    <OSMinVersion>6.2.0</OSMinVersion>
    <OSMaxVersionTested>6.2.0</OSMaxVersionTested>
  </Prerequisites>
  <Resources>
    <Resource Language="x-generate" />
  </Resources>
  <Applications>
    <Application Id="App" StartPage="index.html">
      <VisualElements DisplayName="PacMan" Logo="app-logo.png" SmallLogo="app-smalllogo.png" Description="Classic Pacman clone" ForegroundText="light" BackgroundColor="#464646">
        <DefaultTile ShowName="allLogos" />
        <SplashScreen Image="splashscreen.png" />
        <InitialRotationPreference>
          <Rotation Preference="landscape" />
        </InitialRotationPreference>
      </VisualElements>
    </Application>
  </Applications>
</Package>